.navbar{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15vh;
    background-color: black;
}

.btn{
    width: 120px;
    height: 50px;

    margin: 0 10px;
    border-radius: 10px;
    text-align: center;
}